header {
   color: rgb(231, 253, 57);
    padding: 50px;
    text-align: center;
    font-size: 50px;
    /* color:rgb(255, 255, 255) */
    background-image: url('https://images.pexels.com/photos/268941/pexels-photo-268941.jpeg?auto=compress&cs=tinysrgb&w=800https://images.pexels.com/photos/268941/pexels-photo-268941.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    margin: 17px;
    border-radius: 10px;
}
nav {
    float: right;
    width: 180px;
    height: 300px;
    border-radius: 20px;
    background-image: url(https://masterpiecer-images.s3.yandex.net/8f3139af498c11eeac5dc2e644eb6d3f:upscaled);
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
nav ul {
list-style-type: none;
padding: 20px;
 line-height: 50px;
 text-align: center;
font-size: 25px;
}


body {
    background-image: url('https://images.pexels.com/photos/7000171/pexels-photo-7000171.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
  }
  /* down i making card dic coding */
  
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 17px;
}
.card-content h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}